@import url('https://rsms.me/inter/inter.css');
#Form{
    background-color:rgb(21, 22, 22);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    color: white;
    width: 55vh;
    height: 65vh;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
    font-family: 'Inter', Sans-serif;
    margin-top:20vh;
}
#signIn{
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(8, 64, 231);
    color: white;
    font-weight: 200;
    height: 7vh;
    width: 30vh;
    border-radius: 12px;
    transition: all 0.3s;
}
#signIn:hover{
    color: black;
    background-color: white;
    transform: scale(1.25);
}
#Account{
    text-align: left;
    float: left;
    font-size: 2vh;
}
#Log{
    border: none;
    background-color: rgb(226, 226, 226);
    margin: 0 auto;
    height: 4vh;
    width: 60%;
    border-radius: 2px;
  }
#Log:focus{
    outline-color: rgb(42, 141, 234);
    background-color: white;
}
#Reg{
    color: blue;
    font-size: 2vh;
    text-decoration: underline;
}
#Reg:focus{
    color: white;
}