
#Form{
    background-color:rgb(20, 126, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    color: black;
    width: 55vh;
    height: 65vh;
    position: relative;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
    margin-top:20vh;
}

#signIn{
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Georgia;
    text-align: center;
    border-radius: 2px solid black;
    background-color: rgb(22, 22, 23);
    color: white;
    font-weight: 200;
    height: 7vh;
    width: 7vh;
    transition: all 0.3s;
}
#signIn:hover{
    color: black;
    background-color: white;
}